.rc {
  text-align: center;
  margin: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1, h3, h5 {
  color: $rCreditsBlue;
}

h2, h4, h6 {
  color: $rCreditsGreen;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5, h6 {
  font-size: 1em;
}

@import "popup";
@import "logo";
@import "button";
@import "general";
@import "company_home";
@import "customer_menu";
@import "keypad";
